<div class="container">
    <div class="jumbotron">
        <h2>USAA's birthdays</h2>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Birthday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <button type="button" class="btn btn-primary"
                    (click)="addBirthday(firstName.value, lastName.value, date.value);
                    firstName.value='';
                    lastName.value='';
                    date.value=''">Add</button>
                </th>
                <td><input #firstName class="form-control" placeholder="John" type="text"></td>
                <td><input #lastName class="form-control" placeholder="Doe" type="text"></td>
                <td><input #date class="form-control" value="1998-01-01" type="date"></td>
            </tr>
            <tr *ngFor="let birthdayBoy of mockBirthdays; let i = index">
                <th scope="row">
                    <div class="btn-group" role="group">
                        <button *ngIf="!birthdayBoy.isEditing" type="button" class="btn btn-warning"
                        (click)="editBirthday(i)">Edit</button>
                        <button *ngIf="birthdayBoy.isEditing" type="button" class="btn btn-success"
                        (click)="saveBirthday(i);">Save</button>
                        <button *ngIf="!birthdayBoy.isEditing" type="button" class="btn btn-danger"
                        (click)="removeBirthday(i)">Delete</button>
                        <button *ngIf="birthdayBoy.isEditing" type="button" class="btn btn-danger"
                        (click)="cancelUpdate(i)">Cancel</button>
                    </div>
                    
                </th>
                <td *ngIf="!birthdayBoy.isEditing">{{birthdayBoy.firstName}}</td>
                <td *ngIf="!birthdayBoy.isEditing">{{birthdayBoy.lastName}}</td>
                <td *ngIf="!birthdayBoy.isEditing">{{birthdayBoy.day}}/{{birthdayBoy.month}}</td>

                <td *ngIf="birthdayBoy.isEditing">
                    <input class="form-control" [(ngModel)]="birthdayBoy.firstName" type="text">
                </td>
                <td *ngIf="birthdayBoy.isEditing">
                    <input class="form-control" [(ngModel)]="birthdayBoy.lastName" type="text">
                </td>
                <td *ngIf="birthdayBoy.isEditing">
                    <input [(ngModel)]="birthdayBoy.birthdayString" class="form-control" type="date"
                        >
                </td>
            </tr>
            
        </tbody>
    </table>
</div>